<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Statan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="/Home/Results">All results</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="/ProjectVersion/Results">Project + Version</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="/ProjectAnalyzer/Results">Project + Analyzer</a>
                </li>
            </ul>
        </div>
    </nav>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <script>
        $('.mvc-grid').mvcgrid();
    </script>
</body>
</html>
